* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'IBM Plex Sans', sans-serif;
}

html {
    font-size: 16px;
}

h1, h2 {
    font-family:'IBM Plex sans';
    font-weight: 300;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

:root {
    scroll-behavior: smooth;
    --main-color: #00F3BB;
    --secondary-color: #0000EC;
    --main-text-color: #060A24;
    --white-color: #ffffff;
    --bg-azul: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

body {
    width: 100%;
    height: 100vh;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 1rem;
}

p {
    font-family: 'IBM Plex Mono';
    color: var(--main-text-color);
}

.container-general {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 
button:focus {
    outline: none;
}

.btn {
    background-color: var(--main-color);
    padding: 16px 59px;
    border: none;
    transition: 0.2s;
}

.btn a {
    font-family: 'IBM Plex Mono';
    color: var(--main-text-color);
    font-weight: 500;
}

.btn:hover {
    background-image: linear-gradient(270deg, #0000FE 0%, #00F0B8 100%);
    color: var(--white-color);
    cursor: pointer;
}

/* navigation menu */

.mobile-menu {
    visibility: hidden;
}

.container-menu {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    display: flex;
    padding: 0 100px;
}

.desktop-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-menu img {
    width: 36px;
}

.desktop-menu ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    align-items: center;
}

.desktop-menu ul li {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.desktop-menu ul li a {
    color: var(--main-text-color);
    transition: 0.2s;
}

.desktop-menu ul li a:hover {
    text-decoration: line-through;
    color: var(--main-color);
}

.desktop-menu ul li a:active {
    text-decoration: line-through;
    color: #060A2456;
}

/* descrition */

.container-description {
    max-width: 1440px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    padding: 0 200px;
}

.container-description h1 span:first-child {
    text-decoration: line-through;
}

.container-description h1 span:last-child {
    color: var(--secondary-color);
}

.container-description p {
    line-height: 24px;
    margin-bottom: 56px;
    width: 60%;

}


/* episodes */

.bg-azul {
    width: 100%;
    background-image: var(--bg-azul);
    height: 1040px;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 430px;
    z-index: 1;
}

.episodes {
    width: 100%;
    max-width: 1440px;
    padding: 0 100px;
    position: relative;
    top: 200px;
    height: 840px;
    z-index: 2;
}

.container-episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.epi {
    width: calc(100% / 2 - 72px);
    margin: 36px;
    height: 232px;
}

.container-episodes div:nth-child(1), .container-episodes div:nth-child(2) {
    margin-top: 0;
}

.container-episodes div:nth-child(3), .container-episodes div:nth-child(4) {
    margin-bottom: 0;
}

.episodes h2 {
    margin-bottom: 26px;
    padding: 0 100px;
    color: var(--white-color);
}

.episodes > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.episodes .margin-desktop {
    margin-bottom: 72px;
}

/* where we come from */

.we-come-from {
    z-index: 3;
    display: flex;
    padding: 80px 100px;
    width: 100%;
    max-width: 1440px;
}

.we-come-from .container-phone img {
    width: 456px;
}

.we-come-from .container-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.container-phone, .container-text {
    flex: 1;
}

.we-come-from .container-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 100px;
}

.we-come-from .container-text h2 {
    margin-bottom: 24px;
}

.we-come-from .container-text p:nth-child(2) {
    margin-bottom: 20px;
}

/* guest */

.container-guests {
    padding-top: 64px;
    max-width: 1440px;
}

.container-guests h2 {
    padding: 0 200px;
    margin-bottom: 36px;
}

.guests {
    width: 100%;
    height: 728px;
    display: flex;
    flex-wrap: wrap;
}

.guests div {
    width: calc(100% / 3);
    height: calc(100% / 2);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* themes */

.container-themes {
    width: 100%;
    max-width: 1440px;
    height: 426px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
}

.container-themes h2 {
    padding: 0 200px;
    margin-bottom: 56px;
}

.container-icons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    flex-wrap: wrap;
}

.container-icons > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 4 - 30px);
    margin: 0 15px;
    justify-content: center;
    text-align: center;
}

.container-icons > div p {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    margin-top: 16px;
}

/* latest news */

.container-azul {
    width: 100%;
    background-image: var(--bg-azul);
    height: 520px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-azul h2 {
    color: var(--white-color);
    margin-bottom: 36px;
}

/* footer */

.footer {
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.networks i {
    margin: 0 18px;
}